includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - lang
        - packages
        - resources/views
        - routes
        - tests
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
